<style media="screen">
body{
  background-image:url("http://wallpaperswide.com/download/lets_make_music-1920x1200.html?dw_url=download%2Flets_make_music-&dw_ratio=wide&dlw_block_wide=1920x1200&dlw_block_hd=960x540&dlw_block_standard=800x600&dlw_block_mobile=1024x1024&dlw_block_dual=1920x600");
  /*background-size:100% 100%;*/
  background-repeat:no-repeat;
}
.container {
  width: 1366px;
  margin: 0 auto;
}
.band{
  width:150px;
  margin:0;
  line-height:60px;
  text-align:center;
  height:60px;
  background-color:red;
  float:left;
}
.menu{
  float:left;
  list-style:none;
  margin:0px;
}
.menu li{
  float:left;
  margin:20px 145px 0 0;
}
.menu li a{
  color:white;
  text-decoration:none;
}
.ytube{
  float:right;
  width:150px;
  height:60px;
  background-color:yellow;
  text-align:center;
}
#header{
  background-color:blue;
  height:60px;
}
#showcase{
  width:428px;
  float:left;
  margin-top:10px;
  height:450px;



}
#showcase img{
  max-width:100%;
}
.concert-box{
  float:left;
  margin-left:20px;
  margin-top:120px;
  width:290px;
  height:290px;
  text-align:center;
  text-decoration:underline;
  font-family:fantasy;
}

.concert-box.ams{
  background:url("https://wallpaperscraft.com/image/amsterdam_capital_netherlands_city_81295_1920x1080.jpg") 50% 50%;

}
.concert-box.prs{
  background:url("https://umad.com/img/2015/9/paris-wallpaper-background-7403-7736-hd-wallpapers.jpg") 50% 70%;
  color:blue;

}
.concert-box.izmr{
  background:url("https://media.jtdwjcwq6f4wp4ce.com/pc/Izmir.jpg")50%70%;

}
#concerts{
  float:right;
  width:938px;
  height:460px;

}

#footer{
  text-align:center;
  display: block;
  padding:10px 0;
}
#content{
  height:460px;
}
.developer{
  font-family:cursive;
  color:blue;
}



</style>