ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
section{
    clear: both
}

#grid-floats .grid-item{
    box-sizing: border-box;
    padding: 20px;
    margin-left: 1%;
    margin-top: 1%;
    float: left;
}

.grid-item img{
    max-width:100% 
}


#grid-flex {
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around

   
    
}
/*#grid-flex .grid-item{
    margin-left: 1%;
    margin-top: 1%;
    


}


/* For mobile phones: */
@media only screen and (max-width: 668px) {
    body{
        background: rgb(209, 224, 209);
    }

    #grid-floats .grid-item{
        width:48.5%;
        min-height: 520px;
    }
    #grid-floats .grid-item:nth-child(1){
        width: 98%;
    }
    

    #grid-flex .grid-item{
       flex-basis: 48%;
         min-height: 520px;
        width:48.5%;

       

    }

    #grid-flex .grid-item:nth-child(1){
        flex-basis: 98%;
        
        
    }
    #grid-flex .grid-item:last-child{
        flex-basis: 48.5%;
        justify-content: unset;
        
        
        
    }

    
 
}


 /* For tablets: */
@media only screen and (min-width: 668px)and (max-width: 1024px) {
    body{
        background: rgb(235, 204, 227);
    }
    #grid-floats .grid-item{
        width:32%;
        min-height: 470px;
    }
    
    #grid-floats .grid-item:nth-child(1), #grid-floats .grid-item:nth-child(2){
        width: 48.5%
    } 
    #grid-flex .grid-item{
        flex-basis: 32%;
          min-height: 520px;
         width:48.5%;
 
        
 
     }
 
     #grid-flex .grid-item:nth-child(1){
         flex-basis: 48.5%;
         
         
     }
     #grid-flex .grid-item:last-child{
         flex-basis: 32%;
         justify-content: unset;
         
         
         
     }
    
    
   
 
}

/* For desktop: */
@media only screen and (min-width: 1024px) {
    body{
        background: rgb(130, 176, 214);
    }
    
    #grid-floats .grid-item{
         
        width:24%;
        min-height: 680px;
    
    }
    
    #grid-floats .grid-item:nth-child(1){
        width: 48%
    }
    #grid-flex .grid-item{
        flex-basis: 24%;
          min-height: 680px;
        
 
        
 
     }
 
     #grid-flex .grid-item:nth-child(1){
         flex-basis: 48%;
         
         
     }
     #grid-flex .grid-item:last-child{
         flex-basis: 24%;
         justify-content: unset;
         
         
         
     }
    
 
}








